#include <zephyr/dt-bindings/sensor/lsm6dso.h>

/ {
	chosen {
		/* Point this at your display node if your board uses another panel. */
		zephyr,display = &ssd1306;
	};

	aliases {
		motion0 = &kerfur_motion0;
	};
};

&arduino_i2c {
	status = "okay";

	kerfur_motion0: lsm6dso@6a {
		compatible = "st,lsm6dso";
		reg = <0x6a>;
		accel-pm = <LSM6DSO_DT_XL_LP_NORMAL_MODE>;
		accel-range = <LSM6DSO_DT_FS_2G>;
		accel-odr = <LSM6DSO_DT_ODR_12Hz5>;
		gyro-pm = <LSM6DSO_DT_GY_NORMAL_MODE>;
		gyro-range = <LSM6DSO_DT_FS_250DPS>;
		gyro-odr = <LSM6DSO_DT_ODR_OFF>;
		status = "okay";
		/*
		 * Default address here is 0x6a; switch to 0x6b if SA0/SDO is high.
		 * Add `irq-gpios` and `int-pin` once the interrupt line is wired.
		 */
	};

	ssd1306: ssd1306@3c {
		compatible = "solomon,ssd1306";
		reg = <0x3c>;
		width = <128>;
		height = <64>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <63>;
		segment-remap;
		com-invdir;
		prechargep = <0x22>;
		status = "okay";
	};
};
